
.footer {
  background-color: #333; 
  color: #fff; 
  padding: 20px;
  text-align: center;
  position: relative; 
  bottom: 0;
  width: 100%;
  height:50px;
  position: fixed;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}