.search-container {
  max-width: 900px;
  margin: 40px auto;
  text-align: center;
  font-family: Arial, sans-serif;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.search-bar input {
  width: 300px;
  padding: 10px;
  border-radius: 6px 0 0 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.search-bar button {
  padding: 10px 20px;
  border: none;
  background-color: #667eea;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0 6px 6px 0;
  transition: 0.3s;
}

.search-bar button:hover {
  background-color: #5a67d8;
}

.movies-grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
  gap: 30px;
}

.movie-card {
 
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.movie-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
}

.movie-card h3 {
  margin: 10px 0 5px 0;
  font-size: 16px;
}

.movie-card p {
  font-size: 14px;
  color: #555;
}

