
body.light {
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.3s, color 0.3s;
}


body.dark {
  background-color: #121212;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
} 


 
